html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: flex-end;

	font-family: "Varela Round", sans-serif;
}

#container {
	width: 500px;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #3d3d3d;
	color: white;
	border: solid white 3px;
	border-radius: 15px;
}

ul {
	list-style-type: none;
	padding-left: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

li {
	width: 125px;
	margin: 10px;
	border: solid grey 1px;
	border-radius: 3px;

	background-color: transparent;
	color: white;
	font-family: "Open Sans", sans-serif;

	display: flex;
	justify-content: center;
	align-items: center;

	user-select: none;
	cursor: pointer;
	box-sizing: border-box;
	overflow: hidden;
}

li > img {
	width: 100%;
}

li:hover {
	border-color: white;
	background-color: rgba(0,0,0,0.3);
}

li.selected {
	border-color: #37f0f7;
	color: #37f0f7;
}
